<a href="https://colab.research.google.com/github/Scottman625/Tibame-AI/blob/main/2021_11_17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 959 kB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [ ]:
import pymysql

c1=pymysql.connect(
    host="4.tcp.ngrok.io",
    user="root",
    passwd="",
    db="2021-11-17",
    charset="utf8",
    port=13068
)

cur=c1.cursor()
# data=[input("標題: "),input("描述: "),input("單位: "),input("日期: ")]
# cur.execute("INSERT INTO `news`(`title`,`description`,`unit`,`create_date`)VALUES(%s,%s,%s,%s)",data)
# data={}
# data["a"]=input("日期: ")
# data["b"]=input("單位: ")
# data["c"]=input("標題: ")
# data["d"]=input("描述: ")


# cur.execute("INSERT INTO `news`(`title`,`description`,`unit`,`create_date`)VALUES(%(c)s,%(d)s,%(b)s,%(a)s)",data)

# c1.commit()
cur.execute("SELECT * FROM `news`")
d=cur.fetchone()
print(d)
d=cur.fetchone()
print(d)
d=cur.fetchone()
print(d)
d=cur.fetchall()
print(d)

c1.close

(1, '安杰物業突圍出擊 緯育TibaMe助陣打造物業黃埔軍校', '結合緯育TibaMe的育成平台與服務，共同打造快速、高效、系統化的規模化培訓，協助國家提升戰鬥力、提升服務轉型競爭力，將服務推向國際，打造傑出服務人才...', '經濟日報', datetime.date(2021, 11, 13))
(2, '疫情不必停學緯育TibaMe課程無縫轉線上｜ 蘋果新聞網｜ 蘋果 ...', '面對這波COVID-19新冠病毒的強勢來襲，實體課程遭嚴重考驗，很多線下轉線上都失敗，緯創旗下緯育TibaMe就業養成班的經驗，足以各界參考。', '蘋果日報', datetime.date(2021, 5, 20))
(3, '媒合電商與創作者合作 首屆亞洲創作者大會12月登場', '現場也邀請到業界專家，包含前資策會X緯育TIBAME團隊數位轉型外部顧問、打開網路就有錢暢銷書作者、單支影片達45萬觀看人次的旅行YouTuber、經營部落...', 'Yahoo奇摩新聞', datetime.date(2021, 11, 12))
((4, '疫起挺過來緯創TibaMe免費公開遠距教學、辦公課程｜ 蘋果 ...', '新冠疫情進入三級警戒，疫情急撲而來，遠距教學需求一次爆發，在疫情升級的現在，緯創（3231）旗下緯育TibaMe公開前二屆的「百業千師」實務課程影片，...', '蘋果日報', datetime.date(2021, 5, 28)), (5, '緯育TibaMe、LiveABC 共推英文學程', '新冠疫情後，巿場最關注的是數位轉型及人才培育二大議題。緯育TibaMe與LiveABC聯手推出「英文學程」，瞄準國際化人才需求，培育更多國際化英文人才，...', '日報 - 中時新聞網', datetime.date(2021, 3, 19)), (7, '999', '9999', '9999', datetime.date(2020, 1, 1)), (8, 'xxxx', 'yyyy', 'zzzz', datetime.date(2021, 10, 10)), (9, 'bbb', 'ccc', 'aaa', datetime.date(2000, 1, 1)))

In [ ]:
import prettytable,pymysql
c1=pymysql.connect(
    host="2.tcp.ngrok.io",
    user="root",
    passwd="",
    db="2021-11-17",
    charset="utf8",
    port=16282
)
cur=c1.cursor()




def action():
    loop = True
    while loop:
        print("(0) 離開程式")
        print("(1) 顯示會員列表")
        print("(2) 新增會員資料")
        print("(3) 更新會員資料")
        print("(4) 刪除會員資料")
        player_action = input("指令: ")
        if player_action == '0':
          break

        elif player_action == '1':
            home_act1()  # call the respective action function here

        elif player_action == '2':
            home_act2()

        elif player_action == '3':
            home_act3()

        elif player_action == '4':
            home_act4()

        else:
            player_action = input("指令: ")

def home_act1():
    p1=prettytable.PrettyTable(["編號","姓名","生日","地址"], encoding="utf-8")
    cur.execute("SELECT * FROM `member`")
    d=cur.fetchall()
    for i in range(len(d)):
     p1.add_row([d[i][0],d[i][1],d[i][2],d[i][3]])
    print(p1)
    p1.clear()

def home_act2():
    data=[input("姓名: "),input("生日: "),input("地址: ")]

    cur.execute("INSERT INTO `member`(`name`,`birthday`,`address`)VALUES(%s,%s,%s)",data)
    c1.commit()

def home_act3():
  data={}
  data["a"]=input("請選擇你要修改的資料編號：")
  data["b"]=input("姓名: ")
  data["c"]=input("生日: ")
  data["d"]=input("地址: ")

  cur.execute("update `member` set `name`= %(b)s ,`birthday`=%(c)s ,`address`=%(d)s  where `id` = %(a)s",data)
  c1.commit()
def home_act4():
  
  a1=input("請選擇你要刪除的資料編號：")
  cur.execute("delete from `member` where `id` =%s",a1)
  c1.commit()
action()



    

c1.close

(0) 離開程式
(1) 顯示會員列表
(2) 新增會員資料
(3) 更新會員資料
(4) 刪除會員資料
指令: 0